.conteudo {
    max-width: 400px; /* Defina o máximo de largura para o seu conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo na página */
    padding: 20px;
    border: 1px solid #ccc;
}

.mais-conteudo {
    margin-top: 20px;
}

#botao-ler-mais {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

